<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1><%= title %></h1>
      <p>This is the placeholder for Team Activity 03</p>
    </div>
  </div>
  <div class="container">
    <form action="/search" method='POST'>
      <label for="tag">Tags</label>
      <input type="text" name='tag' id='tag'>
    </form>
  </div>
  <div class="container">
      <% items.forEach(item => { %>
        <div style="display: black; outline: solid black 1px; padding: 1rem;">
          <p><%= item.name %></p>
          <p><%= item.price %></p>
          <p><%= item.description %></p>
          <p><%= item.tags %></p>
          <img width="250px" src="<%= item.imageUrl %>">
        </div>
      <% }); %>
  </div>
</body>
</html>
